body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    margin: auto;
    background-color: #ccc;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    border-radius: 5px;
}
.h3 {
    text-align: center;
    width: 100%;
    background-color: rgb(112, 112, 112);
}

.submit{
    width: 100%;
    height: 30px;
    border-top: 2px solid rgb(105, 105, 105);
    text-align: center;
}
#submit{
    margin-top: 5px;
    padding-top: 2px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover{
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.label {
    padding: 5px;
    width: 25vw;
}
#email{
    cursor: text;
    width: 25vw;
    height: 22px;
}
#pswrd{
    cursor: text;
    width: 25vw;
    height: 22px;
}
#gender{
    cursor: pointer;
    height: 25px;
}